[Unit]
After=network-online.target
Description=Weather Icon with current temperature

[Service]
EnvironmentFile=%E/location
ExecStart=%h/.local/bin/weather -l $LATITUDE -L $LONGITUDE
StandardError=journal
StandardOutput=file:%C/weather

[Install]
WantedBy=multi-user.target
